[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pygame = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"

[scripts]
start = "sh -c \"python3 .\""
